<mat-sidenav-container *ngIf="authService.isAuthenticated">
  <mat-sidenav #sidebar mode="side" opened="">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="assets/profile.jpg" alt="" width="50" class="p-2">
              UserName
              <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        Settings
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>