<!-- <p>add-product-dialog works!</p> -->
<!-- <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="example-container" style="padding: 30px;">
  <p>
  <mat-form-field  appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput #input maxlength="10" placeholder="Enter title">
    <!-- <mat-hint align="end">{{input.value.length}}/10</mat-hint> -->
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput #input maxlength="10" placeholder="Enter title">
    <!-- <mat-hint align="end">{{input.value.length}}/10</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
  </mat-form-field>
</p>
<p class="row2">
<!-- <button
        mat-flat-button
        color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()">
        Upload -->
        <input class="Upload"
      type="file"
      id="fileInput"
      name="fileInput"
      accept="image/*" multiple
      (change)="selectFiles($event)"
    />
      <!-- </button> -->
<!-- <mat-form-field appearance="fill"></mat-form-field> -->
<mat-form-field appearance="outline" style="width: 250px;">
  <mat-label>Textarea</mat-label>
  <textarea matInput rows="5"></textarea>
</mat-form-field>
</p>
<p>
  <div layout="row" layout-align="end end">
    <div>
<!--
      <button
            mat-flat-button
            color="primary"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()">
            Upload
      </button> -->
    </div>
  </div>

</div>

