<div class="con">
  <h1>Add Product</h1>
  <hr>
  <!-- <form [formGroup]="form" (ngSubmit)="submitForm()"> -->
  <form [formGroup]="form">
  <!-- <form [formGroup]="form"> -->
   <div class="row">
       <div class="col-md-4 col-sm-12">
         <label for="inputCity">Title</label>
         <input type="text" class="form-control w-100" id="inputCity" formControlName="title" >
       </div>
       <div class="col-md-4 col-sm-12">
         <label for="inputCity">Price</label>
         <input type="number" class="form-control w-100" id="inputCity" formControlName="price">
       </div>
       <!-- <div class="col-md-4 col-sm-12">
         <label for="inputCity">brand</label>
         <input type="text" class="form-control w-100" id="inputCity" >
       </div> -->
       <div class="col-md-4 col-sm-12">
         <!-- <app-select></app-select> -->
         <!-- Category -->
         <!-- <app-select [data]="category" [title]="categories" (selectedValue)="getSelectedCategories($event)"></app-select> -->
         <label for="">Categories</label>
         <select name="" id=""  class="form-select" aria-label="Default select example" (change)="getSelectedCateory($event)" >
           <!-- <option value="" selected></option> -->
           <option [id]="cat._id" *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
         </select>
       </div>

     <div class="col-md-4 col-sm-12">
       <label for="">Image</label>
       <img src="{{base64}}" alt="">
       <input type="file" class="form-control" (change)="getImgPath($event)">
     </div>
     <div class="col-md-8 col-sm-12">
       <label for="">Description</label>
       <textarea class="form-control" placeholder="Type Here ...." formControlName="description"></textarea>
     </div>
   </div>
   <div class="d-flex justify-content-end mt-3">
     <button class="btn btn-success" (click)="Save()" >Save</button>
   </div>
 </form>
 </div>

 <!-- [disabled]="!form.valid" -->
